@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="margin-top: -1%" > 
   <img src="https://cdn.shopify.com/s/files/1/2473/3068/files/Times_hero_1.22.jpg?v=1641297984"; height="310px"; width="100%" />
    &nbsp;
  <h4>Welcome to the Online Library Management System</h4>
</div>
